<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetowanie hasła</title>
</head>
<body>
<main>
    <h1>Resetowanie hasła</h1>
    <form>
        <label for="password">Nowe hasło:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirmPassword">Potwierdź nowe hasło:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <button type="submit">Zresetuj hasło</button>
    </form>
</main>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const urlParams = new URLSearchParams(window.location.search);
        const token = urlParams.get('token');

        if (!token) {
            window.location.href = '/register';
        }
        const main = document.querySelector('main');

        fetch ('/api/v1/forgotPassword/validateToken?token='+token, {
            method: 'GET',
        })
            .then(response => response.json())
            .then(data => {
                if (data.error !== 200) {
                    main.innerHTML = `
                        <div>
                            <h1>Błąd</h1>
                            <p>${data.message}</p>
                        </div>
                    `;
                }
            });
    });
    let form = document.querySelector('form');
    const csrfToken = document.cookie.replace(/(?:(?:^|.*;\s*)XSRF-TOKEN\s*\=\s*([^;]*).*$)|^.*$/, '$1');
    form.addEventListener('submit', function (event) {
        event.preventDefault();
        const urlParams = new URLSearchParams(window.location.search);
        const token = urlParams.get('token');
        const password = document.querySelector('#password').value;
        const confirmPassword = document.querySelector('#confirmPassword').value;
        if (password !== confirmPassword) {
            Swal.fire({
                title: 'Błąd',
                text: 'Hasła nie są takie same',
                icon: 'error',
                confirmButtonText: 'OK'
            });
            return;
        }
        fetch('/api/v1/forgotPassword/changePassword?token='+token, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'X-XSRF-TOKEN': csrfToken
            },
            body: JSON.stringify({
                password: password,
                confirmPassword: confirmPassword,
                _csrf: csrfToken
            })
        })
            .then(
                Swal.fire({
                    title: 'Proszę czekać...',
                    didOpen: () => {
                        Swal.showLoading()
                    }
                })
            )
            .then(response => response.json())
            .then(data => {
                if (data.error === 200) {
                    Swal.fire({
                        title: 'Sukces',
                        text: data.message,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    }).then(function (result) {
                        if (result.isConfirmed) {
                            window.location.href = '/login?error=password';
                        }
                    })
                } else {
                    Swal.fire({
                        title: 'Błąd',
                        text: data.message,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            });
    });
</script>
</html>
