HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
!.idea/JetClient/state.xml

*.iws
*.iml
*.ipr


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### Maven config ###
mvnw
mvnw.cmd
maven-wrapper.properties

### Application properties ###
*.properties

### Log files ###
*.log
logs/*
/src/main/java/dev/goral/rpgmanager/user/UserConfig.java
!/src/main/java/dev/goral/rpgmanager/security/WebSecurityConfig.java
