RewriteEngine on

RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^([^.]+)$ $1.php [NC,L]

RewriteCond %{HTTP_HOST} ^www\.rpg.webace-group\.dev [NC]
RewriteRule ^(.*)$ https://rpg.webace-group.dev/$1 [L,R=301]