<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Główna</title>
</head>
<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
        darkMode: "class",
        theme: {
            extend: {
                colors: {
                    dark: {
                        background: "#0070d29",
                        backgroundSecondary: "#181818",
                        backgroundTertiary: "#242424",
                        surface: "#1E1E1E",
                        textPrimary: "#E0E0E0",
                        textSecondary: "#B0B0B0",
                        border: "#333333",
                        accent: "#12e1b9",
                        accentDark: "#01d0a8",
                        success: "#00FF99",
                        error: "#FF4444",
                        warning: "#FFD700",
                    },
                    light: {
                        background: "#FFFFFF",
                        backgroundSecondary: "#FAFAFA",
                        backgroundTertiary: "#EAEAEA",
                        surface: "#F5F5F5",
                        textPrimary: "#1A1A1A",
                        textSecondary: "#5A5A5A",
                        border: "#CCCCCC",
                        accent: "#ff3131",
                        accentDark: "#ee2020",
                        success: "#00CC66",
                        error: "#bf7799",
                        warning: "#FFAA00",
                    },
                },
            },
        },
    };
</script>

<body class="min-h-screen flex flex-col bg-light-background dark:bg-dark-background text-light-text dark:text-dark-text">
<main class ="flex-grow flex flex-col items-start justify-center px-12">
    <header class="font-extrabold text-5xl">
        <h1>Witaj w RPG Manager!</h1>
    </header>
    <div class="mt-10 grid grid-cols-2 gap-4">
        <button class ="flex items-center justify-between px-6 py-3 border border-light-accent dark:border-dark-accent text-light-primary dark:text-dark-primary
                        hover:bg-light-success dark:hover:bg-dark-success"
                type="button" onclick="location.href='auth/login.html'">Login</button>
        <button type="button" onclick="location.href='auth/register.html'">Register</button>
        <button type="button">Learn more</button>
        <button type="button">Demo</button>
    </div>
</main>
<footer class="bottom-0 w-full text-center p-4 bg-light-backgroundSecondary dark:bg-dark-backgroundSecondary text-light-text dark:text-dark-text">
    <h5>© 2025 RPG Manager</h5>
</footer>
</body>
</html>
