@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.andika-regular {
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.andika-bold {
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.andika-regular-italic {
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.andika-bold-italic {
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-style: italic;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #070d29;
}

body{
  color:whitesmoke;
  margin-top: 5em;
  
}
main{
  border: 0.1em;
  border-color: grey;
  border-style: solid;
  width:40em;
  display: flex;
  border-radius: 1em;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  
}

header{
  color:whitesmoke;
  text-align: center;
}
h2{
  text-align: center;
}

label{
  font-size: 1.4em;
}
input{
  padding: 0.5em;
  width: 120%;
  border-radius: 0.5em;
  color: green;
  font-size: 1em;
}
.checkbtn{

}