@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.andika-regular {
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.andika-bold {
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.andika-regular-italic {
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.andika-bold-italic {
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-style: italic;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  color:var(--textColor);
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 0;
  flex-direction: column;
  background-color: var(--primaryColor);
}

main{
  border: 0.2em;
  border-color: var(--borderColor);
  border-style: solid;
  width:35em;
  display: flex;
  border-radius: 1em;
  flex-direction: column;
  padding: 1em;
  background-color: var(--formColor);
  margin-bottom: 5em;
  
}
.forgetlabeltext{
  margin-bottom: 1em;
  background: transparent;
}
h1{
  color:var(--textColor);
  text-align: center;
  margin-bottom: 0.6em;
  font-size: 2.5em;
  margin-top: 1em;
}
.link{
  color:var(--textColor);
  text-decoration: none;
}
h2{
  background-color: transparent;
  font-size: 1.8em;
  color:var(--textColor);
  text-align: center;
}

form{
  background-color: transparent;
}
label{
  font-size: 1.4em;
  margin-top: 0.25em;
  background-color: transparent;
}
.req::before{
  content: "*";
  color:var(--accentColor);
  font-size: 0.9em;
}
.checkandforgot{
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  background-color: transparent;
  margin-top: .7em;
}

.checkboxandmark, .checkmarktext, .forgor, .forgorpswlink{
  background-color: transparent;
}


.forgor{
  color: var(--textColor);
}

button{
  font-size: 1.2em;
  color: var(--primaryColor);
  display: inline;
  width: 100%;
  padding: 0.8em;
  border-color:var(--accentColor);
  border-radius: 0.5em;
  border: 0.05em solid;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: var(--accentColor);
}

button:hover{
  background-color: var(--primaryColor);
  color: var(--accentColor);
  transition: .2s;
  border-color: var(--accentColor);
}

.registerlink{
  margin-top: 1em;
  font-size: 1.4em;
  background-color: transparent;
}

.forgorpswlink{
  color:var(--accentColor);
  text-decoration: none;
}
.forgorpswlink:hover{
  text-decoration: underline;
}

.register{
  color: var(--accentColor);
  text-decoration: none;
  background-color: transparent;
}

.register:hover{
  text-decoration: underline;
}


.inputbox{
  padding: 0.5em;
  width: 100%;
  height: 3.3em;
  border-radius: 0.5em;
  font-size: 1em;
  margin-bottom: 1em;
  margin-top: 0.5em;
  background-color: var(--inputBackgroundColor);
  display: flex;
  align-content: center;
}
.inputbox input{
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  width: 100%;
  font-size: 1.2em;
}
input{
  color: var(--accentColor);
}

.closedeye{
  width: 6%;
  height: auto;
  background-color: transparent;
  margin-left: 0.5em;
  margin-right: auto;
  align-content: center;
  cursor: pointer;
}
/* #8b6914 */
:root{
  --primaryColor:#ededed;
  --accentColor:#ff3131;
  --textColor:#252525;
  --inputBackgroundColor:	#d8d6d6;
  --formColor:#ebecec;
  --borderColor:#ff3131;
}
.darkMode{
  --primaryColor:#070d29;
  --accentColor:#12E1B9;
  --textColor:#f3f4f4;
  --inputBackgroundColor:#313131;
  --borderColor:#313131;
  --formColor:#252525;
}

nav{
  display:flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1em;
}
.toggleicon{
  width: 4%;
  height: auto;
  margin-right: 1em;
}

@media screen{
  body{
    /* height:100vh; */
  }
}