input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #12E1B9;
    transition: background-color 5000s ease-in-out 0s;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #12E1B9;
    border-radius: 1000px;
  }

  body:not(.darkMode)::-webkit-scrollbar-thumb {
    background: #ff3131;
    border-radius: 1000px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0eb190;
  }
