/* Font config */

@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.andika-regular {
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.andika-bold {
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.andika-regular-italic {
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.andika-bold-italic {
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-style: italic;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #070d29;
}

body{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    min-height: 100vh;

}

.content-wrapper{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex:1;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items:center ;
    margin-top: 0vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.column1{   
    display: flex;
    flex-direction: column;
    
}
.column2{
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.popup{
    display:flex;
    position: fixed;
    z-index: 1;
    overflow: auto;
    bottom: 0;
    height: 8vh;
    background: #12E1B9;
    color:#070d29;
    transition: 1s ease-in-out;
    margin-top: auto;
    margin-bottom: 2em;
    padding: 0.8em 1.5em;
    border-radius: 2px;
    margin-left: 14em;
    margin-right: 14em; 
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
    width: 100%


}

.pbtn{
    text-align: center;
    cursor: pointer;
    background: #070d29;
    color: #12E1B9;
    border-radius: 0.3rem;
}

.pinfo{
    background-color: transparent;
    color:#070d29;
    
}

@media screen and  (min-width: 320px){
    .content-wrapper{
        justify-content: center;
    }


    .container {
        flex-direction: column;
        max-width: 320px;
    }
    
    .column1{   
        order: 2;
    }
    
    .column2{
        order: 1;
    }

    h1{
        font-size: 2em;
        line-height: 1.25em;
        letter-spacing: 0.12em;
    }
    
    h3{
        margin-top: 0.5em;
        letter-spacing: 0.1em;
        font-size: 0.72em;
    }

    main{
        margin-top: 0.5em;
        align-items: center;
    }

    .buttons1, .buttons2, .buttons3{
        display: flex;
        flex-direction: column;    
    }
    

    .linkBtn{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 0.7em;
        padding: 0.8em;
        color: #12E1B9;
        border-color:#12E1B9;
        border: 0.05em solid;
        width: 15em;
        text-align: left;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        cursor: pointer;
    }

    .linkBtn::after {
        content: '➢';
        font-size:1.2em;
        float: right;
        right: 1em;
        color: inherit;
    }

    img{
        width: 9em;
        height: 9em;
    }

    footer{
        margin-top: auto;
        text-align: center;
        margin-bottom: 0.5em;
        font-size: 0.7em;
    }
    
    h2{
        margin-top: 0.5em;
    }
    
    h2, p{
        color: #12E1B9;
        font-size: 1em;
    }

    .popup{
        font-size: 0.5em;
        max-width: 223.17px; 
        margin-bottom:2.5em ;  
    }

    .pbtn{
        cursor: pointer;
        align-items: center;
        margin-left: 15px;
        justify-content: end;
        padding: 0.5em 1.5em; 
    
    }
    
    .pinfo{
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }



    
}


@media screen and  (min-width: 390px){
    .content-wrapper{
        justify-content: center;
    }


    .container {
        flex-direction: column;
        max-width: 390px;
    }
    
    .column1{   
        order: 2;
    }
    
    .column2{
        order: 1;
    }

    h1{
        font-size: 2.77em;
        line-height: 1.25em;
        letter-spacing: 0.12em;
    }
    
    h3{
        margin-top: 0.5em;
        letter-spacing: 0.1em;
        font-size: 1em;
    }

    main{
        margin-top: 0.5em;
        align-items: center;
    }

    .buttons1, .buttons2, .buttons3{
        display: flex;
        flex-direction: column;    
    }
    

    .linkBtn{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 0.8em;
        padding: 0.8em;
        color: #12E1B9;
        border-color:#12E1B9;
        border: 0.05em solid;
        width: 15em;
        text-align: left;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        cursor: pointer;
    }

    .linkBtn::after {
        content: '➢';
        font-size:1.2em;
        float: right;
        right: 1em;
        color: inherit;
    }

    img{
        width: 13em;
        height: 13em;
    }

    footer{
        margin-top: auto;
        text-align: center;
        margin-bottom: 0.5em;
        font-size: 0.7em;
    }
    
    h2{
        margin-top: 0.5em;
    }
    
    h2, p{
        color: #12E1B9;
        font-size: 1em;
    }

    .popup{
        font-size: 0.7em;
        max-width: 313.81px;
    }

    .pbtn{
        cursor: pointer;
        align-items: center;
        margin-left: 15px;
        justify-content: end;
    
    }
    
    .pinfo{
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }



    
}

@media screen and  (min-width: 540px){
    .content-wrapper{
        justify-content: center;
    }


    .container {
        flex-direction: column;
        max-width: 540px;
    }
    
    .column1{   
        order: 2;
    }
    
    .column2{
        order: 1;
    }

    h1{
        font-size: 3.5em;
        line-height: 1.25em;
        letter-spacing: 0.12em;
    }
    
    h3{
        margin-top: 0.5em;
        letter-spacing: 0.1em;
        font-size: 1.26em;
    }

    main{
        margin-top: 0.5em;
        align-items: center;
    }

    .buttons1, .buttons2, .buttons3{
        display: flex;
        flex-direction: row;    
    }
    

    .linkBtn{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 0.8em;
        padding: 0.8em;
        color: #12E1B9;
        border-color:#12E1B9;
        border: 0.05em solid;
        width: 15em;
        text-align: left;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        cursor: pointer;
    }

    .linkBtn::after {
        content: '➢';
        font-size:1.2em;
        float: right;
        right: 1em;
        color: inherit;
    }

    img{
        width: 14em;
        height: 14em;
    }

    footer{
        margin-top: 1em;
        text-align: center;
        margin-bottom: 0.5em;
        font-size: 0.7em;
    }
    
    h2{
        margin-top: 0.5em;
    }
    
    h2, p{
        color: #12E1B9;
        font-size: 1em;
    }

    .popup{
        font-size: 1em;
        max-width: 396.51px;
        
    }

    .pbtn{
        cursor: pointer;
        align-items: center;
        margin-left: 15px;
        justify-content: end;
    
    }
    
    .pinfo{
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
    }



    
}

@media screen and  (min-width: 768px){
    .content-wrapper{
        justify-content: center;
    }


    .container {
        flex-direction: column;
        max-width: 768px;
    }
    
    .column1{   
        order: 2;
    }
    
    .column2{
        order: 1;
    }

    h1{
        font-size: 5em;
        line-height: 1.25em;
        letter-spacing: 0.12em;
    }
    
    h3{
        margin-top: 0.5em;
        letter-spacing: 0.1em;
        font-size: 1.8em;
    }

    .buttons1, .buttons2, .buttons3{
        display: flex;
        flex-direction: row;  
        gap: 1em;  
    }

    .linkBtn{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 1.1em;
        padding: 0.8em;
        color: #12E1B9;
        border-color:#12E1B9;
        border: 0.05em solid;
        width: 15em;
        text-align: left;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        cursor: pointer;
    }

    .linkBtn::after {
        content: '➢';
        font-size:1.2em;
        float: right;
        right: 1em;
        color: inherit;
    }

    img{
        width: 20em;
        height: 20em;
    }

    footer{
        margin-top: auto;
        text-align: center;
        margin-bottom: 0.5em;
    }
    
    h2{
        margin-top: 0.5em;
    }
    
    h2, p{
        color: #12E1B9;
        font-size: 1em;
    }

    .popup{
        font-size: 1em;
        max-width: 566.45px;
        
    }

    .pbtn{
        cursor: pointer;
        align-items: center;
        margin-left: 15px;
        justify-content: end;
    
    }
    
    .pinfo{
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }



    
}

@media screen and (min-width: 1024px) {
    .content-wrapper{
        justify-content: center;
    }

    .container {
        flex-direction: row;
        max-width: 1024px;
    }
    
    .column1{   
        order: 1;
        align-items: first baseline;
    }
    
    .column2{
        order: 2;
    }

    h1{
        font-size: 4em;
        line-height: 1.25em;
        letter-spacing: 0.12em;
    }
    
    h3{
        margin-top: 0.5em;
        letter-spacing: 0.1em;
        font-size: 1.8em;
    }

    .buttons1, .buttons2, .buttons3{
        display: flex;
        flex-direction: row;  
        gap: 1em;  
    }

    .linkBtn{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 1.1em;
        padding: 0.8em;
        color: #12E1B9;
        border-color:#12E1B9;
        border: 0.05em solid;
        width: 15em;
        text-align: left;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        cursor: pointer;
    }

    .linkBtn::after {
        content: '➢';
        font-size:1.2em;
        float: right;
        right: 1em;
        color: inherit;
    }

    img{
        width: 30em;
        height: 30em;
    }

    footer{
        margin-top: auto;
        text-align: center;
        margin-bottom: 0.5em;
    }
    
    h2{
        margin-top: 0.5em;
    }
    
    h2, p{
        color: #12E1B9;
        font-size: 1em;
    }

    .popup{
        font-size: 1em;
        max-width: 1024px;
        
    }

    .pbtn{
        cursor: pointer;
        align-items: center;
        margin-left: 15px;
        justify-content: end;
    
    }
    
    .pinfo{
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }


    
}

@media screen and (min-width: 1280px) {
    .content-wrapper{
        justify-content: center;
    }

    .container {
        flex-direction: row;
        max-width: 1280px;
    }
    
    .column1{   
        order: 1;
        align-items: first baseline;
    }
    
    .column2{
        order: 2;
    }

    h1{
        font-size: 5em;
        line-height: 1.25em;
        letter-spacing: 0.12em;
    }
    
    h3{
        margin-top: 0.5em;
        letter-spacing: 0.1em;
        font-size: 1.8em;
    }

    .buttons1, .buttons2, .buttons3{
        display: flex;
        flex-direction: row;  
        gap: 1em;  
    }

    .linkBtn{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 1.1em;
        padding: 0.8em;
        color: #12E1B9;
        border-color:#12E1B9;
        border: 0.05em solid;
        width: 15em;
        text-align: left;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        cursor: pointer;
    }

    .linkBtn::after {
        content: '➢';
        font-size:1.2em;
        float: right;
        right: 1em;
        color: inherit;
    }

    img{
        width: 30em;
        height: 30em;
    }

    footer{
        margin-top: auto;
        text-align: center;
        margin-bottom: 0.5em;
    }
    
    h2{
        margin-top: 0.5em;
    }
    
    h2, p{
        color: #12E1B9;
        font-size: 1em;
    }

    .popup{
        font-size: 1em;
        max-width: 1119px;
        
    }

    .pbtn{
        cursor: pointer;
        align-items: center;
        margin-left: 15px;
        justify-content: end;
    
    }
    
    .pinfo{
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }



    
}

@media screen and (min-width: 1536px) {
    .content-wrapper{
        justify-content: center;
    }

    .container {
        flex-direction: row;
        max-width: 1536px;
    }
    
    .column1{   
        order: 1;
        align-items: first baseline;
    }
    
    .column2{
        order: 2;
    }

    h1{
        font-size: 5em;
        line-height: 1.25em;
        letter-spacing: 0.12em;
    }
    
    h3{
        margin-top: 0.5em;
        letter-spacing: 0.1em;
        font-size: 1.8em;
    }

    .buttons1, .buttons2, .buttons3{
        display: flex;
        flex-direction: row;  
        gap: 1em;  
    }

    .linkBtn{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 1.1em;
        padding: 0.8em;
        color: #12E1B9;
        border-color:#12E1B9;
        border: 0.05em solid;
        width: 15em;
        text-align: left;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        cursor: pointer;
    }

    .linkBtn::after {
        content: '➢';
        font-size:1.2em;
        float: right;
        right: 1em;
        color: inherit;
    }

    img{
        width: 30em;
        height: 30em;
    }

    footer{
        margin-top: auto;
        text-align: center;
        margin-bottom: 0.5em;
    }
    
    h2{
        margin-top: 0.5em;
    }
    
    h2, p{
        color: #12E1B9;
        font-size: 1em;
    }

    .popup{
        font-size: 1em;
        max-width: 1200px;
        
    }

    .pbtn{
        cursor: pointer;
        align-items: center;
        margin-left: 15px;
        justify-content: end;
    
    }
    
    .pinfo{
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }


    
}

header {
    display: flex;
    text-transform: uppercase;
    color: whitesmoke;
    margin-bottom: 0.5em;
    
}

.link{
    color: inherit;
    text-decoration: none;
}

.linkBtn:hover {
    color: #070d29;
    background-color: #12E1B9;
    transform: scale(1.02);
    transition: 0.8s;
}

.personalLink {
    color: inherit;
    text-decoration: underline;
}

.personalLink:hover {
    transition: 0.4s;
    color: #ed1e46;
}

.personalLink:visited {
    color: inherit;
}

.pbtn:hover{
    
    
    transform: scale(1.02);
    transition: 0.8s;


}

#cookies{
    display:none;
}