/* Font config */

@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.andika-regular {
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.andika-bold {
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.andika-regular-italic {
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.andika-bold-italic {
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-style: italic;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #070d29;
}

body{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    min-height: 100vh;

}

.content-wrapper{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    flex:1;
    
    

}

@media screen and (min-width: 1050px) {
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center ;
    margin-top: 0vh;
}

.column1{   
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
}

.column2{
    order: 2;
    display: flex;
    flex-direction: column;
    
}
}

@media screen and (max-width: 1050px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center ;
    }
    .column1{   
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: first baseline;
    }
    .column2{
        order:1;
        display: flex;
        flex-direction: column;
        
    }
}
    



/* @media screen  and  (max-width: 768px) {

    
} */

@media screen and  (min-width: 768px){

    h1{
        font-size: 5em;
        line-height: 1.25em;
        letter-spacing: 0.12em;
    }
    
    h3{
        margin-top: 0.5em;
        letter-spacing: 0.1em;
        font-size: 1.8em;
    }

    .linkBtn{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 1.1em;
        padding: 0.8em;
        color: #12E1B9;
        border-color:#12E1B9;
        border: 0.05em solid;
        width: 15em;
        text-align: left;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        cursor: pointer;
    }

    .linkBtn::after {
        content: '➢';
        font-size:1.2em;
        float: right;
        right: 1em;
        color: inherit;
    }

    img{
        width: 30em;
        height: 30em;
    }

    footer{
        margin-top: auto;
        text-align: center;
        margin-bottom: 0.5em;
    }
    
    h2{
        margin-top: 0.5em;
    }
    
    h2, p{
        color: #12E1B9;
        font-size: 1em;
    }


.pbtn{
    padding:10px 20px;
    cursor: pointer;
    background: #070d29;
    color: #12E1B9;
    display:flex;
    align-items: center;
    border-radius: 0.3rem;
    margin-left: 15px;
    justify-content: end;

}

.popup{
    display:flex;
    height: 8vh;
    background: #12E1B9;
    color:#070d29;
    transition: 1s ease-in-out;
    margin-top: auto;
    padding: 0.8em 1.5em;
    border-radius: 2px;
    margin-bottom: 1em;
    margin-left: 14em;
    margin-right: 14em;
    align-items: center;
    justify-content: space-evenly;

    

}

.pinfo{
    align-content: center;
    justify-content: space-evenly;
    background-color: transparent;
    color:#070d29;
}
    
}



header {
    display: flex;
    text-transform: uppercase;
    color: whitesmoke;
    margin-bottom: 0.5em;
    
}

.link{
    color: inherit;
    text-decoration: none;
}



main {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    
}

.buttons1, .buttons2, .buttons3{
    display: flex;
    flex-direction: row;
    gap: 1em;
    
}


.linkBtn:hover {
    color: #070d29;
    background-color: #12E1B9;
    transform: scale(1.02);
    transition: 0.8s;
}







.personalLink {
    color: inherit;
    text-decoration: underline;
}

.personalLink:hover {
    transition: 0.4s;
    color: #ed1e46;
}

.personalLink:visited {
    color: inherit;
}




.pbtn:hover{
    
    
    transform: scale(1.02);
    transition: 0.8s;


}

#cookies{
    display:none;
}