<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel użytkownika</title>
</head>
<body>
<h1>Witaj na swoim koncie!</h1>
<p>Zalogowałeś się pomyślnie.</p>
<br>
<a href="/profile">Mój profil</a>
<p>UWAGA: Ten formularz jest do testowania ustawienia hasła, gdy użytkownik zarejestruje się poprzez Discord!</p>
<p>Jest tutaj tymczasowo, w przyszłości będzie na to osobne miejsce na panelu użytkownika</p>
<form>
    <label for="password1">Hasło:</label><br>
    <input type="password" id="password1" name="password" required><br>
    <label for="password2">Powtórz Hasło:</label><br>
    <input type="password" id="password2" name="password" required><br>
    <button type="submit">Ustaw hasło</button>
</form>
<a href="/logout">Wyloguj się</a>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    function getCookie(name) {
        const cookies = document.cookie.split('; ');
        for (let cookie of cookies) {
            const [cookieName, cookieValue] = cookie.split('=');
            if (cookieName === name) {
                return decodeURIComponent(cookieValue);
            }
        }
        return null;
    }

    let form = document.querySelector('form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        let password1 = document.querySelector('#password1').value;
        let password2 = document.querySelector('#password2').value;

        if (password1 !== password2) {
            Swal.fire({
                title: 'Błąd',
                text: 'Hasła nie są takie same',
                icon: 'error',
                confirmButtonText: 'OK'
            })
        }

        const csrfToken = getCookie("XSRF-TOKEN");
        console.log(csrfToken)
        if (csrfToken == null) {
            Swal.fire({
                title: 'Błąd',
                text: 'Nie udało się pobrać tokenu CSRF',
                icon: 'error',
                confirmButtonText: 'OK'
            });
            return;
        }

        fetch('/api/v1/authorized/setPassword', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-XSRF-TOKEN': getCookie("XSRF-TOKEN"),
            },
            body:JSON.stringify({
                password: password1
            })
        })
            .then(
                Swal.fire({
                    title: 'Proszę czekać...',
                    didOpen: () => {
                        Swal.showLoading()
                    }
                })
            )
            .then(response => response.json())
            .then(data => {
                if (data.error === 200) {
                    Swal.fire({
                        title: 'Sukces',
                        text: data.message,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    })
                } else {
                    Swal.fire ({
                        title: 'Błąd',
                        text: data.message,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            });
    });
</script>
<script defer src="/scripts/footer.js"></script>
</html>
